.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App #search-form {
  height: 38px;
  width: 300px;
}

.App #search-input {
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 5px 0 0 5px;
  color: #6d7278;
}

.App #search-form button {
  border: 2px solid #efefef;
}

.App #search-form button:hover {
  background: #efefef;
  border: 2px solid #efefef;
  color: #6d7278;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
