.ForecastData .forecast-date {
  position: relative;
  top: 24px;
}

.ForecastData .forecast-icon {
  width: 80px;
}

.ForecastData .forecast-temp {
  text-align: right;
  position: relative;
  top: 20px;
}
