.Search #search-form {
  height: 38px;
  width: 300px;
}

.Search #search-input {
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 5px 0 0 5px;
  color: #6d7278;
}

.Search #search-form button {
  border: 2px solid #efefef;
}

.Search #search-form button:hover {
  background: #efefef;
  border: 2px solid #efefef;
  color: #6d7278;
}
