.UnitConversion #temp {
  font-size: 60px;
  line-height: 52px;
  position: relative;
  top: 24px;
  left: 36px;
}

.UnitConversion .units {
  color: #efefef;
  font-size: 13px;
  position: relative;
  top: 24px;
  left: 36px;
}

.UnitConversion .units a {
  color: #efefef;
}
