.Weather #location {
  font-size: 48px;
}

.Weather .current-weather {
  background: none;
  border: 2px solid #efefef;
  border-radius: 5px;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px;
  width: 380px;
}

.Weather .current-details {
  background: #efefef;
  border: none;
  border-radius: 5px;
  color: #6d7278;
  font-size: 13px;
  padding: 36px;
  width: 300px;
  height: 220px;
  position: relative;
  top: -50px;
}

.Weather .details-data {
  width: 200px;
}

.Weather .other-weather {
  text-align: right;
}
